.poke-image{
  height: 200px;
  width: 200px;
}
.poke-image-2{
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: rgb(195, 255, 255);
}
.pokedex-list-img{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}